[;; media items & collections
 {"imago:Repository"
  {"rdfs:subClassOf" "dctypes:Dataset"}}
 {"imago:MediaCollection"
  {"rdfs:subClassOf" "dctypes:Collection"}}
 {"imago:ImageVersion"
  {"rdfs:subClass" "dctypes:StillImage"}}
 {"imago:usesPreset" {"rdf:type" "rdf:Property"}}

 ;; media presets

 {"imago:ImageVersionPreset"
  {"rdf:subClass" "imago:MediaVersionPreset"}}
 {"imago:restrict" {"rdf:type" "rdf:Property"}}
 {"imago:width" {"rdf:type" "rdf:Property"}}
 {"imago:height" {"rdf:type" "rdf:Property"}}
 {"imago:crop" {"rdf:type" "rdf:Property"}}
 {"imago:filter" {"rdf:type" "rdf:Property"}}

 ;; users

 {"imago:User"
  {"rdfs:subClassOf" "foaf:Agent"}}
 {"imago:AnonUser"
  {"rdfs:subClassOf" "imago:User"}}

 ;; roles & permissions

 {"imago:passwordSha256Hash"
  {"rdf:type" "rdf:Property"
   "rdfs:domain" "foaf:Agent"}}
 [["imago:canViewColl"
   "imago:canViewMeta"
   "imago:canViewVersion"
   "imago:canViewRepo"
   "imago:canEditColl"
   "imago:canEditRepo"
   "imago:canEditUser"
   "imago:canCreateColl"
   "imago:canCreateUser"]
  "rdf:type" "rdf:Property"]
 ["imago:canEditColl" "rdfs:subPropertyOf" "imago:canViewColl"]
 ["imago:canEditRepo" "rdfs:subPropertyOf"
  ["imago:canViewColl"
   "imago:canViewMeta"
   "imago:canViewVersion"
   "imago:canViewRepo"
   "imago:canEditColl"
   "imago:canEditUser"
   "imago:canCreateColl"]]
 [["imago:canViewColl"
   "imago:canViewMeta"
   "imago:canViewVersion"
   "imago:canViewRepo"
   "imago:canEditColl"
   "imago:canEditRepo"
   "imago:canEditUser"
   "imago:canCreateColl"
   "imago:canCreateUser"]
  "rdfs:domain" "foaf:Agent"]]


;; Admin
;; - add/delete user
;; - view/delete any media/collection
;; - maintenance (trigger/restore) backup

;; User
;; - add/edit/delete collection
;; - edit collection presets
;; - upload media
;; - add media item to collection
